.btn {
  display: inline-block;
  text-align: center;
  padding: 0.75rem 1.5rem;
  font: var(--button);
  border-radius: 4px;
}
.btn.btn--primary {
  color: var(--white);
  background: var(--button-background);
}

.btn.btn--secondary {
  color: var(--primary);
  background: transparent;
  border: 1px solid var(--primary);
}

.buttons-groups {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

@media screen and (min-width: 768px) {
  .buttons-groups {
    display: flex;
    flex-direction: row;
    gap: 1rem;
  }
}
